@import "./reset/reset.scss";
@import "./fonts.scss";
@import "./components/header.scss";
@import "./components/main.scss";
@import "./components/footer.scss";
@import "./components/adept.scss";

html{
    font-family: 'Poppins';
    //font-family: 'Roboto';
    background: rgba(28, 27, 33, 1);
}
.container {
    max-width: 1160px;
    padding: 0 25px;
    margin: 0 auto;
    
}
.main{
    width: 100%;
}

body{
   width: 100%; 
   
}
