include ../mixins/social-item.pug


.container 
  .footer 
    .logo 
        img(src="./assets/imgs/logo.png", alt="")
        img.logo-name(src="./assets/imgs/logo-name.png", alt="")
    .contacts 
      p Artist Management:<br>EMAIL:
      p Jake Henny<br>jake@brightlightsofficial.com
    .social 
      +social-item("https://music.apple.com/tr/artist/bright-lights/295547571", "./assets/imgs/apple.svg")
      +social-item("https://open.spotify.com/artist/2AoeqcUs8DySgZRJ9yV4Ou", "./assets/imgs/spotify.svg")
      +social-item("https://www.instagram.com/brightlights333/", "./assets/imgs/inst.svg")
      +social-item("https://www.youtube.com/channel/UCxnI8lEwjVHYFtq7vtMZUJA", "./assets/imgs/yt.svg")
      +social-item("https://twitter.com/brightlights333", "./assets/imgs/twiter.svg")
      +social-item("https://www.facebook.com/brightlights333/about", "./assets/imgs/fb.svg")
    span 
      p ©  2020 DJ bright lights.
        
       