include ../mixins/card.pug

.header
  
  .container 
      .menu 
        .logo 
          img(src="./assets/imgs/logo.png", alt="")
          img.logo-name(src="./assets/imgs/logo-name.png", alt="")
        .menu-item 
          a(href="") About
          a(href="") News
          a(href="") Music
          a(href="") Media
          a(href="") Tours
          a(href="") Contacts
      
      .header-track
          h2 New Single 
          h1 War For Love
          audio.h-aud(src="./assets/audio/war-love.mp3" controls)
          .controls 
            button.h-play
            button.h-pause
            button.h-prev 
            button.h-next 
            .h-audio-track
              .h-time
            

      .header-card  
          +card("./assets/imgs/header-1.png", "Working on my upcoming full-lenth album that`s releasing later this year.")
          +card("./assets/imgs/header-2.png", "Halloween vibes. <br>Listen my new track!")
          +card("./assets/imgs/header-3.png", "WarForLove is OUT NOW!! <br>Stream it here!")