include ../mixins/article.pug
include ../mixins/track.pug
include ../mixins/link.pug
include ../mixins/swiper-slide.pug



.container 
  .main
    .first-section
      .tex
        .title
          img(src="./assets/imgs/visual.png", alt="")
          h2 Bright Lights
        p Bright Lights is a multi-Grammy nominated singer, songwriter, DJ<br> 
          |and record producer. She has written for numerous<br> 
          |pop stars including Britney Spears, Justin Bieber, Usher and<br> 
          |Beyoncé. Her catalog has amassed over 1 billion streams<br> 
          |worldwide. More than 100 million of those streams can be<br> 
          |attributed to her artist career and include such hits as Porter<br> 
          |Robinson's "Language," 3LAU's "How You Love Me" and her own<br> 
          |single "Runaway." She was also a featured vocalist on Zedd's #1<br> 
          |Clarity album. Her latest music video, "Put It Down," reached 1 million<br> 
          |streams in the first week, releasing independently. Bright Lights is<br> 
          |currently in the studio working on a self-produced album slated for<br> 
          |release in 2020.
        .other-article
          +article("#", "Based in: Los Angeles")
          +article("#", "Founded in 2011")
          +article("#", "Genre: #DancePop")
          +article("#", "Label: 333 Recordings")
      .photos
        img.front(src="./assets/imgs/fr-photo.png", alt="")
        img.back(src="./assets/imgs/bk-photo.png", alt="")
    .second-section 
      .text 
        img(src="./assets/imgs/back-img.png", alt="")
        p “In an age where mainstream music is designed to be as<br>
          |easily consumed as possible, listening to Bright Lights is<br>
          |refreshing, to say the least. Her sound is perfect for radio<br>
          |but complex enough to separate her from other pop<br>
          |newcomers.”
        a(href="https://soundcloud.com/populove" target="_blank") PopULove.net
      .photo 
        img(src="./assets/imgs/populove.png", alt="")
    .track-section 
      .pic
       .bg
          img.track-img(src="./assets/imgs/track-list.png", alt="")
      .player 
        .title
          img(src="./assets/imgs/visual.png", alt="")
          h2 Last tracks
        img(src="./assets/imgs/main-track.png", alt="")
        .track-list 
          +track("01", "#", "3LAU, Bright Lights — How You Love Me")
          +track("02", "#", "Bright Lights, Kaleena Zanders, Kandy — War For Love")
          +track("03", "#", "Pink Is Punk, Benny Benassi, Bright Lights — Ghost")
          +track("04", "#", "Hardwell, Dyro, Bright Lights — Never Say Goodbye")
          +track("05", "#", "Zeds Dead, Dirtyphonics, Bright Lights — Where Are You Now")
          +track("06", "#", "Zedd, Bright Lights — Follow You Down")
        .follow 
          h3 Follow me:
          .links 
            +link("https://open.spotify.com/artist/2AoeqcUs8DySgZRJ9yV4Ou", "./assets/imgs/m-spotify.svg", "Spotify")
            +link("https://music.apple.com/tr/artist/bright-lights/295547571", "./assets/imgs/m-apple.svg", "iTunes")
    .img-section 
      .one
        img(src="./assets/imgs/one.png", alt="")
      .two
        img(src="./assets/imgs/two.png", alt="")
      .three
        img(src="./assets/imgs/three.png", alt="")
      .four
        img(src="./assets/imgs/four.png", alt="")
      .five
        img(src="./assets/imgs/five.png", alt="")
        h4 EDC Las Vegas Mainstage
    .swiper-section
      .swiper 
        .swiper-wrapper
          +swiper-slide("./assets/imgs/slide-first.png", "Chandler, AZ", "The Park at Wild Horse Pass", "Apr 02 2021", "")
          +swiper-slide("./assets/imgs/slide-second.png", "Ibiza, IBZ", "Swag Ibiza Club", "Jul 08 2021", "")
          +swiper-slide("./assets/imgs/slide-third.png", "Ibiza, IBZ", "El Swing Ibiza", "Jul 10 2021", "")
      .button-next
        img(src="./assets/imgs/arrow-r.svg", alt="")
      .button-prev
        img(src="./assets/imgs/arrow-l.svg", alt="")
      
     
    
